.judul {
    text-align: center;
    margin: auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(161, 159, 159);
    padding: 40px;
}

h2 {
    line-height: normal;
    margin-bottom: 10px;
}
.cv {
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border: 8px;
}

p {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 15px;
}